# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b36013c398d63d4facedcc70c7bbbd83cbb2cec104909ac2587ac55b00b7cc6fd1ca9e41a6fdf1f00101e28889a6b779ab3ef4e0cf7e0850af2825460a76fa91

test:
  secret_key_base: 1a47577725b5a307baff970a0a166077a26de59677f3ad9ae808548fd2ac5932ed7dba5b2a3e0531f5c62cbac8f46b802361d9ea05568fdc0416578ace7e3c7b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
